[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-rbenv"]
	path = bundle/vim-rbenv
	url = git://github.com/tpope/vim-rbenv.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = git://github.com/Shougo/vimproc.vim.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = git://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = git://github.com/Shougo/neosnippet.vim.git
