snippet background
	background: url("${1:../images/}${2}") ${3:no-repeat} ${4:scroll} ${5:left} ${6:center}${7}
snippet list
	list:
		style: ${1:none}${2}
snippet transform
	text:
		transform: ${1:underline/none/overline/line-through}
snippet border
	border: ${1:1}px ${2:solid} ${3:#FF0000}${4}
snippet margin
	margin: ${1} ${2} ${3} ${4}
snippet padding
	padding: ${1} ${2} ${3} ${4}
snippet font
	font:
		${1}
